@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Roboto:wght@400;700&display=swap");
.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%;
  /* proporción 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -----------navbar */
.navbar-brand img {
  width: 30px;
  height: 24px; }

.navbar-animacion {
  background: linear-gradient(to left, #333, #464640); }
  .navbar-animacion .navbar-brand,
  .navbar-animacion ul li a {
    color: #fff;
    text-decoration: none;
    position: relative; }
    .navbar-animacion .navbar-brand::before,
    .navbar-animacion ul li a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: #fff;
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%); }
    .navbar-animacion .navbar-brand:hover::before,
    .navbar-animacion ul li a:hover::before {
      width: 100%; }

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.533), rgba(0, 0, 0, 0.452)), url(../img/hero2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

.hero-texto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 10px; }
  .hero-texto h1 {
    font-weight: bold; }

.palmares {
  padding: 10px;
  text-align: center; }
  .palmares h2 {
    color: #fff; }

.posiciones {
  display: grid;
  grid-template-columns: 1fr; }

.posiciones_tarjeta {
  background-color: #29282897;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.clasificacion {
  color: #fff;
  margin-left: 10px;
  text-align: center;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .clasificacion .clasificacion_equipo,
  .clasificacion .clasificacion_ciclista,
  .clasificacion .clasificacion_tiempo {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.2rem; }

.jersay img,
.ciclista img {
  width: 100%;
  max-height: 100px;
  object-fit: cover; }

/* --------carrusel */
.img-carrusel {
  height: 500px; }

.carousel-caption {
  background-color: #ffffff77; }

/* ---------titulos */
.img-carrusel {
  height: 500px; }

.carousel-caption {
  background-color: #ffffff77; }

/* ---------noticias */
.contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  gap: 10px; }

.tarjeta {
  width: 350px;
  height: 400px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; }
  .tarjeta:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }
  .tarjeta img {
    width: 100%;
    height: 200px;
    display: block; }
  .tarjeta .card-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    padding: 5px; }
  .tarjeta .card-text {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    flex-grow: 0.1;
    padding: 10px; }
  .tarjeta .btn-titulos {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; }
  .tarjeta .btn {
    margin-bottom: 10px; }
    .tarjeta .btn.btn-primary {
      background-color: #007bff;
      color: #fff; }
      .tarjeta .btn.btn-primary:hover {
        background-color: #0056b3; }

/* patrocinadores */
.patro_contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .patro_contenedor img {
    filter: grayscale(100%);
    margin: 20px 0; }

/* articulos */
.navegador {
  text-transform: uppercase;
  font-size: 1.3rem; }

.blog-container {
  background-color: #fff;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.blog-title {
  font-size: 24px;
  color: #333;
  margin: 0; }

.blog-date {
  font-size: 14px;
  color: #777; }

.blog-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  margin: 20px 0; }

.blog-subtitle {
  font-size: 20px;
  color: #333;
  margin-top: 20px; }

.blog-intro {
  font-size: 16px;
  color: #555; }

.blog-subtitle + p {
  margin-top: 10px; }

.app-Contenedor {
  margin-top: 20px; }

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.252);
  max-width: 100%; }

.app-body {
  padding: 20px; }

.app-title {
  color: #007BFF;
  font-size: 2.5rem;
  font-weight: bold; }

.card-text {
  color: #666;
  width: 75%;
  margin: auto; }

.app-descarga {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.app-iconos {
  font-size: 2.5em;
  padding: 10px;
  margin: 10% 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

.btn {
  position: relative;
  padding: .2em 1em;
  letter-spacing: 10px;
  text-transform: uppercase; }
  .btn-titulos {
    transition: all 0.6s ease;
    z-index: 1; }
    .btn-titulos::after {
      content: "";
      position: absolute;
      width: 5%;
      height: 100%;
      left: -5%;
      top: 0;
      background-color: #da5e5e;
      transform: skew(28deg, 0deg);
      transition: all 0.5s ease; }
    .btn-titulos::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transform: skew(28deg, 0deg);
      border: 3px solid #ffff00;
      transition: all 0.5s ease;
      z-index: -1; }
    .btn-titulos:hover::after {
      background-color: #da5e5e6e;
      transform: skew(28deg, 0deg) translatex(2300%); }
    .btn-titulos:hover::before {
      background-color: #ffff00;
      border: 3px solid #ffff00;
      transform: skew(28deg, 0deg) scale(1.2); }

/* footer */
footer {
  background: linear-gradient(to left, #333, #464640); }
  footer ul li a {
    text-decoration: none;
    position: relative; }
    footer ul li a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: #fff;
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%); }
    footer ul li a:hover::before {
      width: 100%; }

.sub-footer ul li a {
  text-decoration: none;
  position: relative; }
  .sub-footer ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%); }
  .sub-footer ul li a:hover::before {
    width: 100%; }

/* @medias */
@media (min-width: 375px) {
  .hero-texto {
    text-align: center;
    margin: 10px; }
  .hero {
    height: 400px;
    width: auto; }
  footer p {
    text-align: center;
    font-size: 2rem; }
  .media {
    justify-content: center;
    padding: 10px 0; }
  .img-carrusel {
    height: 200px; } }

@media (min-width: 576px) {
  .hero {
    height: 80vh; }
  footer p {
    font-size: 2rem;
    text-align: start; }
  .menu {
    justify-content: center; }
  .media {
    justify-content: center;
    padding: 10px 0; } }

@media (min-width: 768px) {
  .hero {
    height: 90vh; }
  footer p {
    font-size: 1.7rem; }
  .img-carrusel {
    height: 400px; } }

@media (min-width: 995px) {
  .hero-texto h1 {
    font-size: 5.5rem; } }

@media (max-width: 995px) {
  .palmares {
    display: none; } }
