@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Roboto:wght@400;700&display=swap");
:root {
  --color: #ffff00; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -----------navbar */
.navbar-brand img {
  width: 30px;
  height: 24px; }

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452)), url(../img/bg_hero.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 550px;
  width: 100%; }

.hero-texto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: #fff;
  font-family: 'Roboto', sans-serif; }

/* --------carrusel */
.img-carrusel {
  height: 500px; }

/* ---------titulos */
.img-carrusel {
  height: 500px; }

/* ---------noticias */
.contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: auto;
  gap: 10px; }

.tarjeta {
  max-width: 300px;
  overflow: hidden; }
  .tarjeta .card-text {
    max-height: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .tarjeta img {
    width: 100%;
    height: auto;
    display: block; }

/* patrocinadores */
.patro_contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .patro_contenedor img {
    filter: grayscale(100%);
    margin: 20px 0; }

/* articulos */
.navegador {
  text-transform: uppercase;
  font-size: 1.3rem; }

.blog-container {
  background-color: #fff;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.blog-title {
  font-size: 24px;
  color: #333;
  margin: 0; }

.blog-date {
  font-size: 14px;
  color: #777; }

.blog-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  margin: 20px 0; }

.blog-subtitle {
  font-size: 20px;
  color: #333;
  margin-top: 20px; }

.blog-intro {
  font-size: 16px;
  color: #555; }

.blog-subtitle + p {
  margin-top: 10px; }

/* footer */
footer ul li a {
  text-decoration: none;
  position: relative; }
  footer ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%); }
  footer ul li a:hover::before {
    width: 100%; }

.sub-footer ul li a {
  text-decoration: none;
  position: relative; }
  .sub-footer ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%); }
  .sub-footer ul li a:hover::before {
    width: 100%; }

.btn {
  position: relative;
  padding: 20px 50px;
  letter-spacing: 10px;
  text-transform: uppercase; }
  .btn-titulos {
    transition: all 0.6s ease;
    z-index: 1; }
    .btn-titulos::after {
      content: "";
      position: absolute;
      width: 5%;
      height: 100%;
      left: -15px;
      top: 0;
      background-color: #da5e5e;
      transform: skew(28deg, 0deg);
      transition: all 0.5s ease; }
    .btn-titulos::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transform: skew(28deg, 0deg);
      border: 3px solid #ffff00;
      transition: all 0.5s ease;
      z-index: -1; }
    .btn-titulos:hover::after {
      background-color: #da5e5e6e;
      transform: skew(28deg, 0deg) translatex(400px); }
    .btn-titulos:hover::before {
      background-color: #ffff00;
      border: 3px solid #ffff00;
      transform: skew(28deg, 0deg) scale(1.5); }

/* @medias */
@media (min-width: 375px) {
  footer p {
    text-align: center;
    font-size: 2rem; }
  .media {
    justify-content: center;
    padding: 10px 0; }
  .img-carrusel {
    height: 200px; } }

@media (min-width: 576px) {
  footer p {
    font-size: 2rem;
    text-align: start; }
  .menu {
    justify-content: center; }
  .media {
    justify-content: center;
    padding: 10px 0; } }

@media (min-width: 768px) {
  footer p {
    font-size: 1.7rem; }
  .img-carrusel {
    height: 400px; } }
