
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* navbar */

.navbar-brand img {
    width: 30px;
    height: 24px;
}


.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452)), url(../img/bg_hero.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    width: 100%;
}


.card-hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card-body a {
    text-decoration: none;

}


/* card ultimas noticias  */
.ultimas-noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
    
}

.card {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #00000080; 
}

.contenedor-img img {
    width: 100%;
    height: 200px;
}

.contenedor-text a {
    text-align: center; 
    display: block; 
    text-decoration: none;
}
.tag{
    font-weight: bold;
    text-transform: uppercase;
}

/* paatrocinadores */

.patro_contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.patro_contenedor img {
    filter: grayscale(100%);
    margin: 20px 0;
}

/* footer */
footer ul li a {
    text-decoration: none;
    position: relative;
}

footer ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    /* Color del overline */
    transition: width 0.3s ease-in-out;
    /* Duración de la animación y tipo de transición */
    transform: translateX(-50%);
}

footer ul li a:hover::before {
    width: 100%;
}

.sub-footer ul li a {
    text-decoration: none;
    position: relative;
}

.sub-footer ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    /* Color del overline */
    transition: width 0.3s ease-in-out;
    /* Duración de la animación y tipo de transición */
    transform: translateX(-50%);
}

.sub-footer ul li a:hover::before {
    width: 100%;
}

/* articulos */

.navegador{
    text-transform: uppercase;
    font-size: 1.3rem;
}

.blog-container {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-title {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.blog-date {
    font-size: 14px;
    color: #777;
}

.blog-image {
    width: 100%;
    height: auto;
    max-height: 500px;
    margin: 20px 0;
}

.blog-subtitle {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
}

.blog-intro {
    font-size: 16px;
    color: #555;
}

.blog-subtitle+p {
    margin-top: 10px;
}





/* @medias */

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 375px) {
    footer p{
        text-align: center;
        font-size: 2rem;
    }
    .media{
        justify-content: center;
        padding: 10px 0;
    }
}    

@media (min-width: 576px) { 
    footer p{
        font-size: 2rem;
        text-align: start;
    }
    .menu{
        justify-content: center;
    }
    .media{
        justify-content: center;
        padding: 10px 0;
    }
}    

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    footer p{
        font-size: 1.7rem;
        
    }
}

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */
