.contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: auto;
    gap: 10px;
}

.tarjeta {
    max-width: 300px;
    overflow: hidden;

    & .card-text {
        max-height: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & img {
        width: 100%;
        height: auto;
        display: block;
    }
}