.contenedor {
    @include flex (flex, row, wrap, space-evenly, center);
    // padding: 10px;
    margin: auto;
    gap: 10px;
}

.tarjeta {
    width: 350px;
    height: 400px;
    margin-top: 10px;
    // overflow: hidden;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    & img {
        width: 100%;
        height: 200px;
        display: block;
    }

    & .card-body {
        @include flex(flex, column, nowrap, center,center); 
        text-align: center;
        height: 200px;
        padding: 5px;
    }
        & .card-text {
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            flex-grow: 0.1; // Se supone que ocupe el espacio restante
            padding: 10px;
        }

        & .btn-titulos {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }

        & .btn {
            margin-bottom: 10px;
            &.btn-primary {
                background-color: #007bff;
                color: #fff;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
