


@media (min-width: 375px) {
    .hero-texto {
        text-align: center;
        margin: 10px;
    }
    .hero {
        height: 400px;
        width: auto;
    }
    footer {
        p {
            text-align: center;
            font-size: 2rem;
        }
    }

    .media {
        justify-content: center;
        padding: 10px 0;
    }

    .img-carrusel {
        height: 200px;
    }
}

@media (min-width: 576px) {
    .hero {
    height: 80vh;
    }
    footer {
        p {
            font-size: 2rem;
            text-align: start;
        }
    }

    .menu {
        justify-content: center;
    }

    .media {
        justify-content: center;
        padding: 10px 0;
    }
}

@media (min-width: 768px) {
    .hero {
        height: 90vh;
    }
    footer {
        p {
            font-size: 1.7rem;
        }
    }

    .img-carrusel {
        height: 400px;
    }
}

@media (min-width: 995px) {
    .hero-texto h1 {
        font-size: 5.5rem;
    }
}

@media (max-width: 995px) {
    .palmares {
        display: none;
    }
}
